{% extends "layout.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "measurements/css/style.css" %}}">
{% endblock %}

{% block page_title %}
{% endblock %}

{% block content %}
<div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 120px;"></th>
                            <th>Vin Number</th>
                            <th>Licence Plate</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Year</th>
                            <th>Color</th>
                            <th>Owner</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for car in cars %}
                        <tr>
                            <td>
                                <img class="img-fluid" src="{{car.picture.url}}">
                            </td>
                            <td>{{car.vin_number}}</td>
                            <td>{{car.licence_plate}}</td>
                            <td>{{car.brand}}</td>
                            <td>{{car.model}}</td>
                            <td>{{car.year}}</td>
                            <td>{{car.color}}</td>
                            <td>{{car.owner}}</td>
                            <td>
                                <a href="{% url "edit_car" car.slug %}" class="btn btn-primary btn-sm">edit</a>
                                <a href="{% url "delete_car" car.slug %}" class="btn btn-danger btn-sm">delete</a>
                            </td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>   
        </div>
     </div>
{% endblock %}

{% block js_files %}
    <script src="{% static "measurements/js/script.css" %}"></script>
{% endblock %}