{% load static %}
<div class="card mb-3">
    <div class="row">
        <div class="col-4">
            <img class="img-fluid rounded-start" src="{{measurement.car.picture.url}}" style="width: 300px; height: 200px;"> 
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url "measurement_details" measurement.slug %}">
                        {{ measurement.date }}
                    </a>
                </h5>
            </div>  
        </div>
    </div>
</div>