{% extends "layout.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "measurements/css/style.css" %}">
{% endblock %}

{% block page_title %}
    Measurements
{% endblock %}

{% block content %}
<div class="container mt-3">
        <div class="row">
            <div class="col-3">
                 {% include 'measurements/partials/_cars.html' %}
            </div>   
            <div class="col-9">
                {% if measurements|length == 0 %}
                    <div class="alert alert-warning">Measurement is not found.</div>
                {% endif %}
                {% for measurement in measurements %}
                    {% include "measurements/partials/_measurements.html" %}
                {% endfor %}
            </div>
        </div>
     </div>
{% endblock %}

{% block js_files %}
    <script src="{% static "measurements/js/script.js" %}"></script>
{% endblock %}