{% extends "layout.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "measurements/css/style.css" %}">
{% endblock %}

{% block page_title %}
{% endblock %}

{% block content %}
<div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <p>File Uploaded</p>
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 120px;"></th>
                            <th>Date</th>
                            <th>Slug</th>
                            <th style="width: 70px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for measurement in measurements %}
                        <tr>
                            <td>
                                <a href="{{ measurement.file.url }}" download>CSV Download</a>
                            </td>
                            <td>{{measurement.date}}</td>
                            <td>{{measurement.slug}}</td>
                            <td>
                                <a href="{% url "measurement_edit" car.vin_number %}" class="btn btn-primary btn-sm">edit</a>
                                <a href="{% url "measurement_delete" car.vin_number %}" class="btn btn-danger btn-sm">delete</a>
                            </td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>   
        </div>
     </div>
{% endblock %}

{% block js_files %}
    <script src="{% static "measurements/js/script.js" %}"></script>
{% endblock %}